*{
    box-sizing: border-box;
}

h1{ font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1em; }

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0; 
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: white;
     
}

header .logo{
    font-family: 'Lilita One', cursive;
    color: #2ECC71;
    font-size: 1.5rem;

    margin: 0;
    padding: 25px 30px;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: 0.5s;
    border-radius: 15px;
}

header a:hover{
    color: #1E8449;
    border-radius: 15px;
    background-color: #E5E7E9;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    color: white;

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}


#que-es span{color: #2ECC71;}

#que-es .container{
    text-align: center;
    padding: 200px 12px;
}

#comprar{
    background-color: #2F2F2F;
    color: #E5E7E9;
    text-align: center;
    margin: 0;
}


#comprar .container{
    padding: 100px 0px;
}

#comprar h2{
    margin: 0;
}

#comprar .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding: 35px;
    margin: 30px;
    border-radius: 20px;
}

#comprar .carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("images/horse.jpg");
}

#comprar .carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("images/cow.jpg");
}

#email{
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #63C4B1;
	background: rgba(99, 196, 177, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #63C4B1;
}
#email:hover{
	background: rgba(99, 196, 177, .5);
	color: #63C4B1;
}

.submit-button{
    font-family: 'Lilita One', cursive;
    font-size: 1em;
	appearance: none;
	border: .2em solid #63C4B1;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	border-radius: 2em;
    transition: transform 50ms, box-shadow 50ms;
}

.submit-button:active{
    transform: translate(00.125em, 00.125em);
    box-shadow:  .25em 0.25em #63C4B1;
}

.boton1{
    font-family: 'Lilita One', cursive;
    font-size: 1em;
    font-weight: 600;
    background-color: white;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    border: solid 0.125em #63C4B1;
    box-shadow: 0.25 0.25 #63C4B1;
    transition: transform 50ms, box-shadow 50ms;
}

.boton1:active{
    transform: translate(00.125em, 00.125em);
    box-shadow:  .25em 0.25em #63C4B1;
}


hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#caracteristicas .container{
    text-align: center;
    padding: 100px 10px; 
}

footer p{
    color: gray;
    margin: 0;
    padding: 10px;
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}